# =================================================================
# Secrets
# =================================================================
application-secret.yml


# =================================================================
# Build & Logs
# =================================================================
# Gradle
.gradle
build/

# Java
*.log
*.jar
*.war

# Node
/node_modules
/dist
/dist-ssr
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Variable
*.local


# =================================================================
# IDE & Editors
# =================================================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/

# STS (Eclipse)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/


# =================================================================
# OS
# =================================================================
# macOS
.DS_Store
._*
.Spotlight-V100
.Trashes
